
@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/Shared/_Layout1.cshtml ";
}
<a href=" /MY/Intro"></a>

<a class=" btn btns " href="/MY/Intro"> INTRODUCTION </a>

<a class=" btn btns " href="/MY1/Outro"> EDUCATION </a>

<a class=" btn btns " href="/MY2/PRO"> PROJECTS </a>

<a class=" btn btns " href="/MY3/ABILITY"> ABILITY </a>

<a class=" btn btns " href="/MY4/CERTI"> CERTIFICATION </a>



<h2>Personal Information:</h2>

<ul>
<li>Name:MD MEHBUB UL ISLAM </li>
<li>Contact:jibonislamxxx@gmail.com </li>
<li>Address: New Market, Jeesore</li>
<li>Mobile:01876502354 </li>

    </ul>
