
@{
    ViewBag.Title = "CERTI";

    Layout = "~/Views/Shared/_Layout5.cshtml";
}


<a href=" /MY4/CERTI"> </a>

<a class= " btn btns " href="/MY/Intro"> INTRODUCTION </a>

<a class=" btn btns " href="/MY1/Outro"> EDUCATION </a>

<a class=" btn btns " href="/MY2/PRO"> PROJECTS </a>

<a class=" btn btns " href="/MY3/ABILITY"> ABILITY </a>

<a class=" btn btns " href="/MY4/CERTI"> CERTIFICATION </a>



<h2>CERTICATION</h2>
<ul>
<li> SSC 2016</li>
<li> HSC 2018</li>
<li> HMS COMMUNITY </li>

    </ul>


