
@{
    ViewBag.Title = "PRO";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}


<a href=" /MY2/PRO"></a>
<a class=" btn btns " href="/MY/Intro"> INTRODUCTION </a>

<a class=" btn btns " href="/MY1/Outro"> EDUCATION </a>

<a class=" btn btns " href="/MY2/PRO"> PROJECTS </a>

<a class=" btn btns " href="/MY3/ABILITY"> ABILITY </a>

<a class=" btn btns " href="/MY4/CERTI"> CERTIFICATION </a>

<h2>PROJECTS</h2>
<ul>
<li> JAVA Bank Mnagement System </li>

<li> Fosterage child care System (C#) </li>

<li> Tour hobe (Tours and Travels Website) </li>

<li> Arduino UNO Water Detector System </li>

    </ul>

